[flake8]
max-line-length = 119
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    migrations,
    *.sqlite3,
    *.pyc,
    settings/local.py,
    node_modules
per-file-ignores =
    __init__.py:F401
    tests/*.py:S101
extend-select = B, C4, E, F, W, I, N